:root {
  --color_white: #ffffff;
  --color_black: #000000;
  --color_gray: #f2f2f2f2;

  --width_100: 100%;
  --height_100: 100%;

  --width_80: 80%;
  --width_75: 75%;
  --width_70: 70%;
  --width_60: 60%;
  --width_40: 40%;

  --size_0-75: 0.75rem;
  --size_0-85: 0.85rem;
  --size_1: 1rem;
  --size_1-15: 1.15rem;
  --size_1-25: 1.25rem;
  --size_1-50: 1.5rem;
  --size_1-75: 1.75rem;
  --size_2: 2rem;

  --size_10: 10rem;
  --size_15: 15rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color_black);
}

a:visted,
a:active {
  color: inherit;
  background-color: inherit;
}

body {
  width: var(--width_100);
  height: var(--height_100);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size_0-75) var(--size_1) var(--size_0-75) var(--size_1);
  width: var(--width_100);

  background: url("../images/rainbow-vortex.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1440px) {
    padding: var(--size_0-75) var(--size_2) var(--size_0-75) var(--size_2);
    box-shadow: 0px 3px 3px #565656;
    position: sticky;
    top: 0;
  }
}

.title_container {
  display: flex;
  justify-content: center;
  width: var(--width_100);

  @media (min-width: 1024px) {
    justify-content: left;
  }

  @media (min-width: 2560px) {
    width: var(--width_60);
  }
}

.title {
  margin-bottom: var(--size_0-85);
  font-size: var(--size_1-50);
  color: var(--color_white);

  @media (min-width: 1024px) and (max-width: 1399px) {
    margin-bottom: var(--size_1-25);
    font-size: var(--size_1-75);
  }

  @media (min-width: 1440px) {
    font-size: var(--size_2);
  }
}

.navigation {
  width: var(--width_100);

  @media (min-width: 600px) and (max-width: 1023px) {
    width: var(--width_80);
  }

  @media (min-width: 1024px) and (max-width: 1399px) {
    width: var(--width_70);
  }

  @media (min-width: 1440px) {
    width: var(--width_60);
  }

  @media (min-width: 2560px) {
    width: var(--width_40);
  }
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_white);
  font-size: var(--size_0-75);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px transparent solid;
  cursor: pointer;

  @media (min-width: 1024px) and (max-width: 1399px) {
    font-size: var(--size_0-85);
    width: var(--size_10);
  }

  @media (min-width: 1440px) {
    font-size: 0.95rem;
    width: var(--size_10);
  }
}

.button:hover {
  border-bottom: 1px var(--color_white) solid;
  cursor: pointer;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size_1-50) var(--size_1) var(--size_1-50) var(--size_1);
  background-color: var(---color_gray);

  @media (min-width: 1440px) {
    padding: var(--size_2);
  }
}

.section_shop {
  margin: var(--size_1-25) 0 var(--size_1-25) 0;
}

.section_ribbon {
  border-bottom: 2px var(--color_black) solid;
  width: var(--width_100);

  @media (min-width: 600px) and (max-width: 1023px) {
    width: var(--width_80);
  }

  @media (min-width: 1024px) and (max-width: 1399px) {
    width: var(--width_70);
  }

  @media (min-width: 1440px) {
    width: var(--width_60);
  }

  @media (min-width: 2560px) {
    width: var(--width_40);
  }
}

.section_title {
  font-size: var(--size_1-15);
  text-align: left;
  color: var(--color_white);
  text-transform: uppercase;
  color: var(--color_black);

  @media (min-width: 1024px) {
    font-size: var(--size_1-25);
  }
}

.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width_100);
}

.section_inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size_1);
  margin: var(--size_1-75) 0 var(--size_1-75) 0;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
    padding: var(--size_2);
  }

  @media (min-width: 1440px) {
    padding: var(--size_2);
  }

  @media (min-width: 2560px) {
  }
}

.card_shop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  border: 1px var(--color_black) solid;
  border-radius: 5px;
  cursor: pointer;

  @media (min-width: 1024px) {
    width: var(--size_10);
    height: var(--size_10);
  }

  @media (min-width: 1440px) {
    width: var(--size_15);
    height: var(--size_15);
  }
}

.card_shop:hover {
  @media (min-width: 1024px) {
    box-shadow: 0px 5px 5px #565656;
  }
}

.card_title {
  color: var(--color_black);
}

.card_shop:first-child {
  background-color: #fff0ed;
}

.card_shop:nth-child(2) {
  background-color: #ffc7c7;
}

.card_shop:nth-child(3) {
  background-color: #f2f2be;
}

.card_shop:nth-child(4) {
  background-color: #bcdbc2;
}

.card_shop:nth-child(5) {
  background-color: #a6c9c5;
}

.card_shop:last-child {
  background-color: #d6c7c7;
}

.inner-container_about {
  margin: var(--size_1-75) 0 var(--size_1-75) 0;

  @media (min-width: 600px) and (max-width: 1023px) {
    width: var(--width_80);
  }

  @media (min-width: 1024px) and (max-width: 1399px) {
    width: var(--width_70);
  }

  @media (min-width: 1440px) {
    width: var(--width_60);
  }

  @media (min-width: 2560px) {
    width: var(--width_40);
  }
}

.card_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 1440px) {
    padding: var(--size_1);
  }
}

.image_about {
  max-width: var(--width_100);
  height: auto;
  border-radius: 5px;
  object-fit: contain;

  @media (min-width: 1440px) {
    width: var(--width_75);
  }

  @media (min-width: 2560px) {
    width: var(--width_80);
  }
}

.card_about-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size_0-75);
}

.title_about {
  margin: var(--size_1) 0 var(--size_1) 0;
}

.about_para {
  text-align: justify;
  font-size: var(--size_0-85);

  @media (min-width: 2560px) {
    font-size: var(--size_1);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size_0-75) var(--size_1) var(--size_0-75) var(--size_1);
  background-color: #651525;

  @media (min-width: 1440px) {
    padding: var(--size_1-50) 0 var(--size_1-50) 0;
  }
}

.footer_navigation {
  width: var(--width_100);

  @media (min-width: 600px) and (max-width: 1023px) {
    width: var(--width_80);
  }

  @media (min-width: 1024px) and (max-width: 1399px) {
    width: var(--width_70);
  }

  @media (min-width: 1440px) {
    width: var(--width_60);
  }

  @media (min-width: 2560px) {
    width: var(--width_40);
  }
}

.footer_cell {
  display: flex;
  justify-content: center;
  margin-top: var(--size_1-25);
  width: var(--width_100);
}

.footer_para {
  font-size: var(--size_0-75);
  color: var(--color_white);

  @media (min-width: 1440px) {
    font-weight: bold;
    font-size: var(--size_0-85);
  }
}

// MEDIA QUERIES
/* 
--- Tablets
@media (min-width: 600px) and (max-width: 1023px) {
}

--- Laptops
@media (min-width: 1024px) and (max-width: 1399px) {
}

--- Big Screens
@media (min-width: 1440px) {
} 

--- 4K 
@media (min-width: 2560px) {
}
*/
